.container {
  display: flex;
}

.column_container:first-of-type {
  padding-left: 25px;
}

.column_container {
  width: 200px;
  height: 1000px;
  padding-right: 25px;
  overflow: auto;
}

.person_title {
  width: 100%;
  height: 30px;
}

.todo_item {
  background-color: white;
  width: 100%;
  height: 50px;
}





.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}